/* Global Styles */

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100%;
}

body {
  margin: 0;
  min-width: 100%;
  min-height: 100vh;
}

#main {
  min-width: 100%;
  min-height: 100vh;
  background: center / cover no-repeat url("./design/background.png");
}
