/* Global Styles */
:root {
  --coolBlue: #2c99ed;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Mobile First Menu */

.active .menu-item {
  display: block;
}

#header {
  min-width: 100%;
  align-self: start;
}

.menu {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.menu.active {
  backdrop-filter: blur(6px);
}

.menu-icon img {
  background-color: #ffffff;
}

.menu-item {
  padding: 1rem;
  order: 2;
  width: 100%;
  text-align: center;
  display: none;
}

.menu-link {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 0.5rem 0.2rem;
}

.menu-link:hover {
  color: var(--coolBlue);
}

.menu-logo {
  padding: 1.5rem 1rem;
}

.toggle {
  order: 1;
  padding: 1rem 1.5rem;
}

/* Tablet menu */
@media all and (min-width: 700px) {
  .menu {
    justify-content: center;
  }
  .menu-logo {
    flex: 1;
  }

  .toggle {
    flex: 1;
    text-align: right;
    order: 1;
  }
}

/* Desktop menu */
@media all and (min-width: 960px) {
  .menu {
    align-items: center;
    flex-wrap: nowrap;
    background: none;
  }
  .menu-logo {
    order: 0;
    flex: 0;
  }
  .menu-item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
    flex: 1;
  }
  .toggle {
    display: none;
  }
}

/* Main Content */

#main {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: center / cover no-repeat url("../images/background.png");
}

.content {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  order: 1;
  flex: 1;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border: solid rgba(255, 255, 255, 0.3);
}

form input {
  width: 100%;
  height: 4rem;
  border-radius: 4px;
  border-bottom: solid rgba(255, 255, 255, 0.3);
  border-left: none;
  border-right: none;
  border-top: none;
  background: rgba(255, 255, 255, 0.05);
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

#button {
  max-width: 100%;
  height: 60px;
  background-color: #2c99ed;
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  border: solid outset 5px #2c99ed;
}

#hero {
  width: 100%;
  height: auto;
  color: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.hero-div {
  max-width: 100%;
  min-height: 100%;
  padding: 2rem 1rem 2rem 1rem;
}

.hero-div h1 {
  color: #ffffff;
  font-family: "AvenirNext-DemiBold";
  font-size: 3rem;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: -2px;
  padding-bottom: 1rem;
}

.hero-div p {
  opacity: 0.8;
  color: #ffffff;
  font-family: Roboto;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: -0.2px;
}

#signUp {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#terms {
  width: 100%;
  height: 48px;
  color: #9b9b9b;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 1rem;
}

#formHead {
  text-align: center;
  color: #ffffff;
  font-family: "AvenirNext-DemiBold";
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

#signUpForm {
  width: 100%;
  padding: 2rem 1rem 2rem 1rem;
}

#footer {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: end;
  order: 2;
  flex: 2;
  padding-bottom: 2rem;
}

#copyright {
  color: #ffffff;
  font-family: Roboto;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 17px;
  order: 1;
  text-align: center;
}

#footerNav {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footerLink {
  text-decoration: none;
  color: #ffffff;
  font-family: "AvenirNext-DemiBold";
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 24px;
  text-align: center;

  letter-spacing: 2px;
}
